
    
      <div class="icon-box">
          <div id="<%= dom_id post %>">
            <h4 class="title">Titulo:</h4>
            <p class="description">
              <%= post.title %>
            </p>
              <h4 class="title">Descripcion:</h4>
            <p class="description">
              <%= post.description %>
            </p>
            <%= link_to "Modificar", post, class: 'btn-get-started scrollto' %>
          </div>
      </div>  
    
  

